---
import type { User } from '@libs/users'

interface Props {
    user: User
}

const { user } = Astro.props
---

<div>
    <div>
        <img loading="lazy" src={user.image} class="w-full aspect-square object-contain object-center" />
    </div>
    <div class="text-center">
        {user.firstName} {user.lastName}
    </div>
</div>